<!DOCTYPE html>
<html>
  <head>
    <title>Airlines</title>
    
  </head>

  <body>  
    <% if logged_in? %>
      <%= link_to "logout #{current_user.username}?", logout_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
